<ion-header class="modal-condition-header">
  <ion-grid>
    <ion-row>
      <ion-col size="2" (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-col size="8" class="ion-text-center"> Linh kiện </ion-col>
      <ion-col size="2"> </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <ion-grid *ngFor="let item of [0, 1, 2, 3]">
    <ion-row class="card-condition">
      <ion-col size="12" class="header">
        {{ data.title }}
      </ion-col>
      <ion-col size="12" class="body">
        <div
          class="item"
          *ngFor="let i of data.list"
          (click)="closeModal(i.value)"
        >
          {{ i.value }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
