<ion-header>
  <ion-grid>
    <ion-col size="12">
      <app-back-button [defaultHref]="defaultHref"></app-back-button>
    </ion-col>
    <ng-template ngFor let-item let-i="index" [ngForOf]="listSegment">
      <ion-row>
        <app-list-segment [listSeg]="item"></app-list-segment>
      </ion-row>
    </ng-template>
    <ion-row>
      <ion-col>
        <h3>
          {{ headerTitle }}
        </h3>
      </ion-col>
      <ion-col *ngIf="fromMaintain">
        <img src="assets/icon/search_icon.svg" alt="" />
      </ion-col>
    </ion-row>
    <ng-container *ngTemplateOutlet="baseFilter">
      <ion-col>
        <input *ngIf="fromWarehouse" type="text" [formControl]="textSearch" />
        <ion-select
          *ngIf="fromMaintain"
          value="3"
          (ionChange)="filterResult.emit($event)"
        >
          <ion-select-option value="1">Mới</ion-select-option>
          <ion-select-option value="2">Đã xác nhận</ion-select-option>
          <ion-select-option value="3">Đang bảo dưỡng</ion-select-option>
          <ion-select-option value="4">Đang chờ linh kiện</ion-select-option>
          <ion-select-option value="5">Bảo dưỡng xong</ion-select-option>
          <ion-select-option value="6">Bảo dưỡng thất bại</ion-select-option>
        </ion-select>
      </ion-col>
    </ng-container>
  </ion-grid>
</ion-header>
<ion-content slot="fixed" [fullscreen]="true">
  <div class="router">
    <ng-container *ngTemplateOutlet="listCard"></ng-container>
    <ng-container *ngTemplateOutlet="detailCard"></ng-container>
  </div>
</ion-content>
