<div class="modal-create-wrap">
  <div class="title">Thêm mới linh kiện sử dụng</div>
  <form class="form-group" [formGroup]="accessForm">
    <div class="input-item">
      <label for="item.condition"> Linh kiện </label>
      <ion-item (click)="openAccessoriesModal()">
        <p>
          {{ binding ? accessForm.get("accessories").value : "Chọn linh kiện" }}
        </p>
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-item>
      <!-- <input class="base-input-style" formControlName="accessories" /> -->
    </div>
    <div class="input-item">
      <label for="item.condition">Số lượng </label>
      <input
        class="base-input-style"
        formControlName="numb"
        placeholder="Nhập số lượng"
      />
    </div>
  </form>
  <div class="button">
    <ion-button color="medium" (click)="closeModal()"> Hủy bỏ </ion-button>
    <ion-button (click)="dismiss()"> Lưu </ion-button>
  </div>
</div>
