<app-base-list-layout
  [defaultHref]="'/maintain'"
  [fromMaintain]="true"
  [listSegment]="listSegment"
  [currentSegment]="currentSegment"
  (segmentSelect)="onSegmentChange($event) "
  [listItemClient]="apiCard"
  [searchParams]="'headerVal'"
  [fromList]="true"
  (searchItemsClient)="listCard = $event"
  [headerTitle]="currentTitle"
>
  <ng-template #item>
    <app-base-list-warehouse
      [from]="from"
      [listCard]="listCard"
    ></app-base-list-warehouse>
  </ng-template>
</app-base-list-layout>
