.home-item {
    background-color: #ffffff;

    display: grid;
    grid-auto-columns: auto;
    align-content: center;
    justify-items: center;
    text-align: center;
    border-radius: 21px;
    padding: 25px 0px;
    color: #00a050;
    font-size: 16px;
    // font-weight: 500;
    width: 156px;
    height: 156px;
    font-family: "Nuni-Regular";
    img {
        width: 70px;
    }
}
